.advantages-item {
  text-align: center;
}

.advantages-item__title {
  @include title;
}

.advantages-item__text-wrapper {
  background-color: $basic-blue;
  color: #ffffff;

  .advantages-item__description {
    color: #ffffff;
  }
}

.advantages-item__description {
  color: $text-description;
}

.advantages-item--square,
.advantages-item--road,
.advantages-item--tourists {
  background-color: $grey-background;
}

@media (min-width: $tablet-width) {
  .advantages-item--town,
  .advantages-item--devil-bridge {
    display: flex;
  }

  .advantages-item--devil-bridge {
    flex-direction: row-reverse;
  }
}
