.advantages__slogan,
.advantages__title {
  @include title;
}

.advantages__list {
  @include list-reset;
}

.advantages-item {
  text-align: center;
}

.advantages__text-wrapper {
  background-color: #81b3d2;
  color: #ffffff;

  .advantages__description {
    color: #ffffff;
  }
}

.advantages__description {
  color: #333333;
}

.advantages__item--square,
.advantages__item--road,
.advantages__item--tourists {
  background-color: #eeeeee;
}
