.feedback__title {
  @include title;
  text-align: center;
}

.feedback__description {
  color: $text-description;
  text-align: center;
}

.feedback__footnote {
  color: $text-description;
  opacity: 0.6;
  font-size: 12px;
  line-height: 21px;
}
